/* CSS media queries */

/* Medium screens */
@media only screen and (min-width: 768px) {
  header {
    flex-wrap: nowrap;
    text-align: center;
  }

  header h1 {
    flex: 1;
  }

  .nav-links {
    margin-top: 0rem;
    flex: 2;
  }

  .theme-switcher {
    flex: 1;
    order: 3;
  }

  .hero {
    flex-direction: row;
  }
}

/* Larger screen and above */

@media only screen and (min-width: 1300px) {
  .hero {
    max-width: 65%;
  }
  .hero-text {
    font-size: 2.3rem;
  }
  form,
  footer {
    font-size: 1.3rem;
  }

  .hero-form h2 {
    font-size: 2rem;
  }
}
